.text {
    width: 400px; 
    font-size: 20px; 
    background-color: antiquewhite;
}

form {
   
    display: flex;
    flex-direction: column;
}
input {
    margin: 10px 0;
    width: 200px;
    font-size: 20px;
}

label {
    font-size: 20px;
}

button {
    width: 150px;
    height: 40px;
    font-size: 18px;
}

#btn_submit{
    margin: 20px 0;
}

.non_valid{
    border: 2px solid red;
}